@charset "UTF-8";

:root {
    --cor01: #C289FA;
    --cor02: #f7fa61;
}

* {
    margin: 0px;
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: var(--cor01);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 280px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background-repeat: no-repeat !important;
    background: var(--cor01) url(../imagens/pexels-thomas-parker-1272388137-32955857.jpg) no-repeat;
    height: 200px;
    background-image: left bottom;
    background-size: cover;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

section#login > div#form > h1 {
    text-align: center;
    font-size: 1.6em;
}

section#login > div#form > p {
    font-size: 0.8em;
    padding: 5px;
    padding-left: 0px;
}

form > div.campo {
    background-color: var(--cor01);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo label {
    font-size: 0.8em;
    display: none;
}

div.campo i {
    color: white;
    width: 39px;
    font-size: 2em;
    padding: 5px;
}

div.campo > input {
    background-color: #fdffd1;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    padding-bottom: 1px;
    border-radius: 0px 8px 8px 0px;
    text-indent: 8px;
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;
    transition-duration: 0.6s;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    margin-top: 15px;
    background-color: var(--cor02);
    border: none;
    border-radius: 5px;
}
 
form > input[type=submit]:hover {
    background-color: #b4b646;
} 

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    margin-top: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid #70704f;
    border-radius: 5px;

}

form > a.botao:hover {
    background-color: #f2f3ac;
}

form > a.botao > i {
    font-size: 0.8em;

}

a#class {}